### macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd

### Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xcuserdatad

*.pbxuser
!default.pbxuser
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
*.log

### Swift Package Manager
.build/
.swiftpm/
.swiftpm/xcode/
Package.resolved

### Carthage
Carthage/Build/

### CocoaPods
Pods/
Podfile.lock

### Accio dependency manager
Dependencies/
.accio/

### fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

### Instruments
*.trace

### Playgrounds
timeline.xctimeline
playground.xcworkspace

### SwiftLint
.swiftlint_cache/
